<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}"> 
    </head>

    <body>

        <h1>Welcome to the Great Patients Portal</h1>
        <a href="templates/index.html">
            <button class="btn btn-success"> Click here to see the list</button>
        </a>
        <a href="templates/bootstrap_example.html">
            <button class="btn btn-success"> Click here to see the fancier list</button>
        </a>
    </body>